@import "tailwindcss";

body{
    background-color: #111;
    color: #fff;
}

#Task::-webkit-scrollbar{
    display: none;
}

#text{
    resize: none;
}

#text::-webkit-scrollbar{
    display: none;
}
